$body: #CCCCCC;
$main: #FFFFFF;
$background: #191918;

html {
    scroll-behavior: smooth;
}

body {
    background: $background;
    color: $body;
    margin: 0;
    padding: 0;
}

img { 
	transform: translateZ(0);
	&.bg { 
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		object-fit: cover;
		font-family: "object-fit: cover";	
	}
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playwrite IN", cursive;
    font-optical-sizing: auto;
    color: $main;
    font-size: 24px;
}


p {
    font-size: 16px;
    color: $body;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

a {
    text-decoration: none;
    color: $main;
}

.main-btn {
    margin-top: 20px;
    border: 1px solid $main;
    color: $main;
    padding: 10px 25px;
    width: max-content;
    transition: ease .3s all;
    font-family: "Playwrite IN", cursive;
    font-optical-sizing: auto;
    &:hover {
        background: $main;
        color: $background;
    }
}

.title {
    margin-bottom: 20px;
}

.flex {
    display: flex;
}

.wrapper {
    max-width: 1230px;
	width: 92%;
	margin: 0 auto;
}

.overflow-x-h {
    overflow-x: hidden;
}

.container-b-p {
    margin-bottom: 160px;
    @media (max-width: 1000px) {
        margin-bottom: 100px;
    }
    @media (max-width: 550px) {
        margin-bottom: 80px;
    }
}

header {
    .flex {
        justify-content: space-between;
        align-items: end;
        padding: 50px 0;
        .logo {
            img {
                width: 55%;
            }
        }
        .links {
            display: flex;
            gap: 35px; 
            @media (max-width: 900px) {
                display: none;
            }  
            a {
                font-family: "Playwrite IN", cursive;
                font-optical-sizing: auto;
                transition: ease .3s all;
                &:hover {
                    color: #999999;
                }
            }     
        }
    }
}

.mobile-navbar {
    display: none;
    @media (max-width: 900px) {
        &-collapse {
            display: block;
            position: fixed;
            background: $background;
            right: -1000px;
            width: 100%;
            height: 100%;
            z-index: 100;
            top: 0;
            transition: .5s;
        }
    }
}
.mob-content {
    margin-top: 230px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    a {
        font-size: 25px;
        font-family: "Playwrite IN", cursive;
        font-optical-sizing: auto;
    }
}

.show-menu {
    opacity: 1;
    right: 0;
    transition: all 0.3s ease-out;
    overflow: auto;
}
 
body {
    &.is--active {
        overflow: hidden;
    }
}


.icon{
    height: 5px;
    width: 40px;
    top: 20px;
    background-color: $main;
    border-radius: 0;
    position: absolute;
    transition-duration: 0.3s;

    &:before{
      left: 0;
      position: absolute;
      top: -15px;
      height: 5px;
      width: 40px;
      background-color: $main;
      content: "";
      border-radius: 0;
      transition-duration: 0.3s;

    }

    &:after{
      left: 0;
      position: absolute;
      top: 15px;
      height: 5px;
      width: 40px;
      background-color: $main;
      content: "";
      border-radius: 0;
      transition-duration: 0.3s;

    }
  }

.menu{
  width: 40px;
  height: 40px;
  position: relative;
  transition-duration: 1s;
  display: inline-block;
  cursor: pointer;
}



.mobile-menu-btn{
    display: none;
    @media (max-width: 900px) {
        display: block;
    }
    position: relative;
    z-index: 1000000;
  .icon{
    transition-duration: 0.3s;
    transition-delay: 0.3s;

    &:after{
      transition: transform 0.3s, top 0.3s 0.3s;
    }

    &:before{
      transition: transform 0.3s, top 0.3s 0.3s;
    }
  }
}

.mobile-menu-btn.open .icon{
  transition-duration: 0.1s;
  transition-delay: 0.3s;
  background: transparent;
}

.mobile-menu-btn.open .icon:before{
  transition: top 0.3s, transform 0.3s 0.3s;
  top: 0px;
  transform: rotateZ(-45deg);
}

.mobile-menu-btn.open .icon:after{
  transition: top 0.4s, transform 0.3s 0.3s;
  top: 0px;
  transform: rotateZ(45deg);
}

.hero-container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
    @media (max-width: 1000px) {
        flex-direction: column;
        margin-bottom: 20px;
    }
    @media (max-width: 550px) {
        margin-top: 0;
    }
    .image {
        width: 50%;
        position: relative;
        height: fit-content;
        @media (max-width: 1000px) {
            width: 100%;
            margin-bottom: 50px;
        }
        img {
            max-width: 100%;
        }
        .flower {
            width: 20%;
            position: absolute;
            z-index: 80;
            bottom: -40px;
            right: -55px;
            @media (max-width: 900px) {
                right: 0;
            }
        }
    }
    .text {
        width: 40%;
        @media (max-width: 1000px) {
            width: 100%;
        }
    }
}

// our plan

.test {
    width: 250px;
    height: 250px;
    background-color: red;
    margin: 0 10px;
}

.times-container {
    .image {
        img {
            @media (max-width: 1000px) {
                object-fit: contain !important;
                margin-bottom: 50px;
            }
        }
    }
}

.the-plan-container {
    .desktop-container {
        display: flex;
        @media (max-width: 1000px) {
            display: none;
        }
    }
    .mobile-tab-view {
        display: none;
        @media (max-width: 1000px) {
            display: block;
        }
        .the-plan-slider {
            display: flex;
            .slick-next {
                top: 40%;
                right: 35px;
                &:before {
                    font-size: 30px;
                }
            }
            .slick-prev {
                top: 40%;
                left: 25px;
                z-index: 7;
                &:before {
                    font-size: 30px;
                }
            }
        }
    }
    .card-wrapper {
        gap: 25px;

        .plan-card {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 15%;
            @media (max-width: 1000px) {
                margin: 0 20px;
            }
            @media (max-width: 479px) {
                margin: 0;
            }
            .image {
                overflow: hidden;
                position: relative;
                img {
                    width: 100%;
                }
                .time {
                    position: absolute;
                    left: 10px;
                    bottom: 10px;
                    z-index: 5;
                }
                .overlay {
                    width: 100%;
                    height: 500px;
                    background: #191918;
                    opacity: 0.25;
                    z-index: 2;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }
            
        }
    }
}



.times-container {
    justify-content: space-between;
    @media (max-width: 1000px) {
        flex-direction: column;
    }
    .text {
        display: flex;
        flex-direction: column;
        width: 70%;
        @media (max-width: 1000px) {
            width: 100%;
            margin-top: 50px;
        }
    }
    .image {
        width: 25%;
        position: relative;
        height: 400px;
        @media (max-width: 1000px) {
            width: 100%;
            margin-top: 50px;
        }
        img {
            width: 100%;
        }
    }
    .button-container {
        display: flex;
        gap: 20px;
    }
}

.hotel-container {
    justify-content: space-between;
    @media (max-width: 1000px) {
        flex-direction: column;
    }
    .text {
        display: flex;
        flex-direction: column;
        width: 50%;
        @media (max-width: 1000px) {
            width: 100%;
        }
    }
    .image {
        width: 45%;
        @media (max-width: 1000px) {
            width: 100%;
            margin-top: 50px;
        }
        img {
            width: 100%;
        }
    }
    .button-container {
        display: flex;
        gap: 20px;
    }
}

.j-sb {
    justify-content: space-between;
}

.travel-container {
    justify-content: space-between;
    @media (max-width: 1000px) {
        flex-direction: column-reverse;
    }
    .text {
        display: flex;
        flex-direction: column;
        width: 50%;
        .t-container {
            a {
                transition: all .3s;
                &:hover {
                    text-decoration: underline;
                }
            }
            .btn-container {
                margin-top: 40px;
            }
        }
        @media (max-width: 1000px) {
            width: 100%;
        }
        .image-container {
            position: relative;
            height: 300px;
            margin-top: 40px;
        }
    }
    .image {
        width: 45%;
        position: relative;
        @media (max-width: 1000px) {
            width: 100%;
            margin-top: 50px;
        }
        img {
            width: 100%;
        }
    }
}

.present-container {
    justify-content: space-between;
    @media (max-width: 1000px) {
        flex-direction: column;
    }
    .text {
        display: flex;
        flex-direction: column;
        width: 50%;
        @media (max-width: 1000px) {
            width: 100%;
        }
    }
    .image {
        width: 45%;
        position: relative;
        @media (max-width: 1000px) {
            width: 100%;
            margin-top: 50px;
        }
        img {
            width: 100%;
        }
        .flowers {
            position: absolute;
            left: -70px;
            bottom: -80px;
            width: 30%;
            @media (max-width: 550px) {
                position: absolute;
                left: -30px;
                bottom: -50px;
                width: 20%;
            }
        }
    }
}

.faq-container {
    margin-bottom: 100px;
    .title {
        text-align: center;
        margin-bottom: 40px;
    }
    .accordion {
        border-radius: 0 !important;
        &:focus-visible {
            outline: none;
        }
        &-item {
            border: none;
            color: $background;
            background: #fff;
            &:focus-visible {
                outline: none;
            }
        }
        &-header {
            border-bottom: 1px solid white;
            
        }
    }

    .accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .accordion-item:first-of-type {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .accordion-item:first-of-type>.accordion-header .accordion-button {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .accordion-button:after {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
      }
    
    .accordion-body {

        p {
            color: $background;
            margin-top: 1rem;
        }   
        a {
            color: $background;
            text-decoration: underline;
            transition: all .3s;
            &:hover {
                color: #000;
            }
        }     
    }
    .accordion-button {
        background: #383838;
        color: #fff;
        &:focus {
            box-shadow: none;
        }
    }
    .accordion-button:not(.collapsed) {
        background: #383838;
        color: #fff;
    }
}

footer {
    .image {
        width: 20%;
        margin: 0 auto 50px auto;
        @media (max-width: 600px) {
            width: 30%;
        }
        img {
            width: 100%;
        }
    }
    .me {
        text-align: right;
        margin-bottom: 50px;
        font-size: 10px;
    }
}